.row-product-category{
    border:1px solid #999999;
    padding:.5rem;
    boder-bottom:none
}

.row-product-category:last-child{
    border-bottom:1px solid #999999;
}

.category-input{
    boder:none;
    background-color:#eeeeee;
}

.product-category-name{
    white-space:nowrap;
    overflow-x:scroll
}

